noscript {
    color: red;
}

a {
    color: var(--text-color-secondary);
    font-weight: bold;
}

body {
    align-items: center;
    background-color: var(--background-color-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: var(--spacing);
}

main {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--spacing);
    width: 85%;
}

.github-repo {
    background-color: var(--background-color-secondary);
    border-radius: 5px;
    box-shadow: #666 0 0 10px;
    display: flex;
    flex-direction: column;
    height: 15svh;
    justify-content: space-around;
    overflow: auto;
    padding: 0 var(--spacing);
    width: 18svw;
}

#github-user-profile-picture {
    border-radius: 50%;
    width: 6svw;
}

.github-repo:hover {
    border-radius: 15px;
    transform: scale(1.05);
}
